/* .navBar {
    width: 100%;
} */
/* 
.container {
    display:flow-root;
} */

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5em;
    padding-left: 15em;
}

.title {
    color: white;
}

.nombre {
    background: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    font-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.imgPerfil {
    width: 350px; 
    height: 350px; 
    margin-left: 10em;
    border-radius: 50%; 

}

.buttons {
    display: flex;
    flex-direction: row;
    padding-left: 240px;
}

.containerButtons{
    margin-right: 30px;
}

.boton {
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    background: rgb(196, 19, 137);
    font-size: 16px;
    border: none;
    color: #fff;
    padding: 15px 60px;
    cursor: pointer;
    transition: all .5s ease;
}

.boton:hover {
    background: rgb(209, 60, 159);
    transform: scale(1.05);
    transition: 0.6s;
}

.containerComponents {
    margin-top: 5em;
    margin-bottom: 5em;
}