.navBar {
    width: 100%;
    height: 70px;
    top: 0px;
    right: 0px;
    left: 0px;
    position: fixed;
    backdrop-filter: blur(3px);
    
    /* padding: 35px 0; */
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}

/* .navBar {
    width: 50%;
    left: 80%;
    margin: 0px 0px 30px 45em;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
} */


.navBar ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;

}


.navBar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px 0 20px;
    position: relative;

}

.navBar ul li a {
    text-decoration: none;
    color: white;
    font-family: Roboto, "sans-serif";
    font-size: 1.2em;
}

.navBar ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: rgb(196, 19, 137);;
    position: absolute; 
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

.navBar ul li:hover::before {
    width: 100%;
}

.fotito {
    width: 70px; 
    height: 70px; 
    border-radius: 50%; 
    z-index: 99;
    cursor: pointer;
}

.logo {
    padding-right: 750px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2em;
    z-index: 99;
}

.logo:hover {
    color: rgb(196, 19, 137);
    transform: scale(1.2);
    transition: 0.6s;
}

